.container{
    /*flex-direction: column;*/
    /*border: 1px solid;*/
    /*height: 100%;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif ;
    animation: 5s show ease;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}