.skillsMain{
    height: 500px;
}

.skillContainer{
flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.title{
    font-family: 'Poppins', sans-serif ;

}
.skillsPart{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    border: 1px solid;
    width: 100%;

    gap: 10px;
 }