.skillsMain {
    height: 100%;
}

.skillContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;

}

.skillsPart {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    /*border: 1px solid;*/
    width: 100%;

    gap: 10px;
}