* {
    width: 100%;
    /*height: 100%;*/
}

.App_main {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    /*background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(255, 255, 255, 1)),*/
    /*url("./img/background.jpg");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*background-attachment: fixed;*/
}

/*.main::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-color: rgba(255, 255, 255, 0.5); !* Adjust the alpha value for transparency *!*/
/*}*/

@font-face {
    font-family: 'Poppins' ;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Raleway&family=Roboto:ital,wght@1,300&display=swap');
    font-style: normal;
    font-weight: normal;
}

